body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);

  .card {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    box-shadow: 0px 8px 32px hsla(241, 81%, 54%, 0.093);

    p {
      font-size: 10px;
    }

    button {
      width: 100%;
      height: 44px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 400;
      background-color: hsl(224, 30%, 27%);
      border: 0;
      color: hsl(0, 0%, 100%);
      border-radius: 16px;
      margin-bottom: 24px;
    }

    .button {
      margin-top: 24px;
      border-radius: 24px;
      font-size: 12px;
    }

    .circle {
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-image: linear-gradient(
        to bottom,
        hsla(256, 72%, 46%, 1) 0%,
        hsl(241, 81%, 54%) 70%
      );

      h1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 14px;
        margin: 0;
        padding: 0;
        color: hsl(252, 100%, 67%);
      }
    }

    .summary {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
      align-items: flex-start;
      justify-content: space-between;
      color: hsl(224, 30%, 27%);

      .tag {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(46, 135, 214);
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 12px;
        height: 42px;
        border-radius: 4px;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }
        p {
          font-weight: 800;
          font-size: 13px;
        }
        h6 {
          font-size: 13px;
          font-weight: 500;
          line-height: 0;
          margin: 0;
          padding: 0;
        }
      }
    }

    .side {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 24px;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding-bottom: 24px;
      border-radius: 16px;
      color: hsl(0, 0%, 100%);
      background-image: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%) 0%,
        hsl(241, 81%, 54%) 60%
      );

      h2 {
        font-weight: 500;
        padding: 0;
        margin: 0;
      }
      h4 {
        color: hsl(241, 100%, 89%);
      }
      p {
        color: hsl(241, 100%, 89%);
        padding: 0;
        margin: 0;
      }
      .text-container {
        margin-top: 16px;
        display: inline-flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 8px;
        padding-right: 8px;

        p {
          font-size: 13px;
          color: hsl(241, 100%, 89%);
        }
      }
    }
  }
  .attribution {
    padding-bottom: 24px;
    font-size: 11px;
    text-align: center;
    font-size: 14px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
}

@media screen and (max-width: 500px) {
  body {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  section {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .card {
      display: flex;
      border-top: 0;
      flex-direction: column;
      width: 100%;
      height: auto;
      border-radius: 0;
      .side {
        width: auto;
        height: 50%;
        padding-top: 0px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .summary {
        width: auto;
      }
    }
  }
}
